.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;

    border: 1px dotted black;
    border-radius: 0.3rem;
    padding: 1rem 2rem 3rem;
}

.field hr {
    width: 100%;
}

.field-name {
    margin: 0;

    text-transform: capitalize;
}

.task-list {
    list-style: none;

    width: 100%;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}